.grid{
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.grid-wrapper{
    margin-left: 33%;
}

.turn-highlight{
    color: aliceblue;
}